{{define "footer"}}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://www.brugnara.me">Daniele Brugnara</a> -
      <a href="https://github.com/brugnara/online-photo-collage-tool">GitHub repo</a>
      <br>
      This website uses <strong>Bulma</strong>, by <a href="https://jgthms.com">Jeremy Thomas</a>.
    </p>
  </div>
</footer>
{{end}}
