{{define "title"}}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Online photo collage tool
      </h1>
      <h2 class="subtitle">
        Drop some pictures. We will merge them together!
      </h2>
    </div>
  </div>
</section>
{{end}}
